.header-blur {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.45);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Fundo da página */
.page-background {
  background-image: url('/sl_031420_28950_10.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding-top: 30px;
  text-align: center;
}

/* Card principal */
.main-card {
  max-width: 600px;
  background: #533c3c;
  border-radius: 12px;
  box-shadow: 0 0 20px #b8383855;
  color: #eaeaea;
}

.title-highlight {
  color: #4db8ff;
}

/* Input */
.input-custom {
  background: #1e1e1e !important;
  color: white !important;
  border: 1px solid #4db8ff !important;
  
}

/* Botão */
.btn-custom {
  background: #4db8ff !important;
  color: black !important;
}

/* Box de resultado */
.result-box {
    background: #1a1a1a;
    border-radius: 10px;
    border: 2px solid #4db8ff;
    text-align: center;
    font-size: 50px;
    
}
